html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

.label-modal{
    float: right;
}
.font-modal{
    font-size: 14px;
}
.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;  
}

.align-center{
    text-align: center;
}
.input-login{
    height: 60px;
}

label.error{
   color: #a94442; 
}

.title-login{
   font-weight: 400;
}

a, button{
    cursor : Pointer
}
.form-login div.form-group {
    margin-bottom: 5px;
}
#wrapper{
    height: calc(100% - 30em);
    position: relative;
    margin: 0 auto;
}
div#content-login{
    position: absolute;
    width: 100%;
    top: 50%;
    margin: 0 auto;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0;
    border-radius: 0.25rem;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a::after {
    border-bottom: 0.3em solid transparent;
    border-left-color: inherit;
    border-left-style: solid;
    border-left-width: 0.3em;
    border-top: 0.3em solid transparent;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -0.6em;
    margin-top: -0.95em;
    width: 0;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -75%;
}

.dropdown-menu .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 15px;
}

form.filter{
    width: 90%;    
}
.custom-list{
    width: 100% !important;
}
.full-width{
    width: 100%;
}
.no-hover:hover{
    background: none !important;
}
.table td,.table th{
    vertical-align: middle !important;
}
tr{
    cursor: pointer;
}
td.content-buttons{
    vertical-align:middle !important;
    text-align: center;
}
select.custom-select{
    width: 100%;
}
a.title-top{
    font-size: 32px;
}
h3{
    margin-bottom: 0 !important;
}
.navbar-toggler.navbar-toggler-right{
    margin-top: 10px;
}