@media (min-width: 320px)and (max-width: 480px) { 
    ::-webkit-input-placeholder {
        font-size: 15px;
    }
    label.error{
        font-size: 15px;

    }
    .pagination li a{
        font-size: 15px;
        padding: 7px;
    }
    table th,table.table-responsive td{
        font-size: 15px;
        padding: 5px;
    }
    .btn.change-status-list{
        font-size: 15px;
        padding: 8px;
    }
    form button.btn{
        font-size: 15px;
        padding: 7px 15px;
    }
    select.custom-select{
        font-size: 15px;
        color: gray;
    }
    h1.display-3{
        padding-top: 15px;
        font-size: 32px;
    }
    h1.display-6{
        font-size: 24px;
    }
    input[type='text']{
        font-size: 15px !important;
    }
    .change-status{
        font-size: 15px;
        padding: 7px;
        min-width: 70px;
    }
    table.table-responsive th, table.table-responsive td{
        padding: 10px 10px;
    }
    h1.display-4{
        font-size: 32px;
    }
    form.search-user div.form-group{
        margin-bottom: 15px;
    }
    h3.display-5{
        font-size: 28px;
        margin-bottom: 15px !important;
    }

}